[submodule "backend"]
	path = backend
	url = https://github.com/guilhermelange/devblog-semeso-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/guilhermelange/devblog-semeso-frontend.git
